
<H1>Pagina de Pedidos</H1>
<br>
<br>
<body>
<div style="display: flex; flex-wrap: wrap;">
  <div class="card" style="width: 25%; margin-left: 1rem;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../../assets/goiabinha1.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Beliscão<i class="material-icons right">Ver mais</i></span>
      <p><a href="#"></a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Biscoito de Goiabinha<i class="material-icons right">Fechar</i></span>
      <p>Esse Biscoito Amanteigado com Goiabada é daqueles biscoitos clássicos que derrete na boca,
        aqui já ensinamos várias receitas de biscoito, inclusive um delicioso biscoito de fubá.
         Mas diferente do biscoito beliscão, esse é um biscoito aberto, que pode ser moldado.</p>
    </div>
  </div>
  <div class="card" style="width: 25%; margin-left: 1rem;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../../assets/goiabinha2.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Biscoito<i class="material-icons right">Ver mais</i></span>
      <p><a href="#"></a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Biscoito de Goiabinha<i class="material-icons right">Fechar</i></span>
      <p>Esse Biscoito Amanteigado com Goiabada é daqueles biscoitos clássicos que derrete na boca,
        aqui já ensinamos várias receitas de biscoito, inclusive um delicioso biscoito de fubá.
         Mas diferente do biscoito beliscão, esse é um biscoito aberto, que pode ser moldado.</p>
    </div>
  </div>
  <div class="card" style="width: 25%; margin-left: 1rem;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../../assets/goiabinha3.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Paozinho<i class="material-icons right">Ver mais</i></span>
      <p><a href="#"></a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Biscoito de Goiabinha<i class="material-icons right">Fechar</i></span>
      <p>Esse Biscoito Amanteigado com Goiabada é daqueles biscoitos clássicos que derrete na boca,
        aqui já ensinamos várias receitas de biscoito, inclusive um delicioso biscoito de fubá.
         Mas diferente do biscoito beliscão, esse é um biscoito aberto, que pode ser moldado.</p>
    </div>
  </div>
</div>
</body>
